.item {
  display: flex;
  font-size: 1.1rem;
  margin-top: 1.2rem;
  padding: 1rem;
}

.logo img {
  width: 100px;
  height: 100px;
}

.mid {
  width: 100%;
}

.offerName {
  font-size: 1.5rem;
  font-weight: bold;
}

.companyInfo {
  display: flex;
  justify-content: start;
}

.techs {
  display: flex;
  margin-top: 1rem;
}

.techItem {
  background-color: #fcd265;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 15px;
  margin: 0 0.5rem;
  color: white;
  font-weight: bold;
}

.right {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15%;
}

.btn {
  font-size: 0.8rem;
}
.remote {
  background-color: #fcd265;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 15px;
  margin: 0 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
}
