.project_wrap {
  width: 20rem;
  height: 20rem;
  position: relative;
  border-radius: 1rem;
}

.project_wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 1rem;
}

.title_wrap {
  position: relative;
  top: 1rem;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  color: white;
  margin-left: 0.5rem;
}

.project {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.project_wrap:hover {
  cursor: pointer;
}
