.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_wrap {
  height: 90vh;
  width: 60%;
  background-color: var(--secendary);
  border-radius: 0.8rem;
  font-size: 1rem;
  overflow-y: scroll;
  position: relative;
}

.project_wrap img {
  background-size: contain;
}

.btn_box {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
}

.infoBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
}

.project_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project_box img {
  width: 100%;
  background-size: cover;
  border-radius: 0.8rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.chipBox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.desc {
  line-height: 1.5rem;
}

.github {
  margin-top: 1rem;
}
