.skillWrap {
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.title {
  margin-bottom: 0.3rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--action);
}
.circleGrey {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: gray;
}
.ml {
  margin-left: 1.5rem;
}
