.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.container {
  padding: 1rem;
  font-size: 1rem;
}

.container input[type="text"] {
  width: 20rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.8rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  margin: 1rem 0;
}

.jobtype {
  display: flex;
  margin-bottom: 4rem;
}

.leftjt {
  width: 50%;
}

.date {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.rightjt {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
}

.rightjt input[type="date"] {
  width: 100%;
}

.area {
  height: 15rem;
  width: 60%;
  margin-bottom: 8rem;
}

.area textarea {
  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.chips {
  display: flex;
  flex-wrap: wrap;
}

.addOffer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1rem;
}

.smallInput {
  max-width: 120px;
}
