.companiesItem {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: fit-content;
  margin: 1rem;
}

.companyDetails {
  display: flex;
}

.img img {
  width: 100px;
  height: 100px;
}
.img {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.btn {
  width: 100%;
}

.description {
  font-size: 1.2rem;
}
