.main {
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}
.bgImg {
  background-image: url("../../images/homeImg.jpg");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
