.experiencePage_wrap {
  width: 100%;
  padding: 2rem;
}
.profileDescriptionForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.profileDescriptionForm label {
  font-size: 1.5rem;
}

.profileDescriptionForm input[type="text"],
input[type="date"] {
  width: 20rem;
  height: 2.3rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.8rem;
  font-size: 1.5rem;
}

.profileDescriptionForm_ThirdSection_School {
  display: flex;
  flex-direction: column;
  flex-shrink: none;
  gap: 1rem;
}

.startEndCollege_wrap {
  display: flex;
  gap: 2rem;
}

.startEndCollege {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileDescriptionForm_button {
  align-self: flex-end;
  width: 15rem;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.exp_wrap {
  margin-top: 1.2rem;
}
