.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem;
  gap: 1rem;
}

.addProjects {
  width: 15rem;
  height: 15rem;
  border: 5px solid var(--action);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: var(--action);
}

.addProjects:hover {
  cursor: pointer;
}
