@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

:root {
  --primary: #f5f5f5;
  --secendary: #e0e7ff;
  --action: #8667f2;
  --chip: #fcd265;
}
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 10%;
  height: 100%;
  font-size: 62.5%;
}
html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
  overflow-y: scroll;
}

.mainHome {
  height: 100%;
  width: 100%;
  margin-top: 8rem;
}

.bgImgHome {
  background-image: url("./images/homeImgV2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  width: 80vw;
  height: 100vh;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.wrap-offersPage {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.defaultBox {
  background-color: var(--secendary);
  border-radius: 1.5rem;
}
.content-offersPage {
  display: flex;
}
.offer_page {
  font-size: 1rem;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}
.offer_page h1 {
  margin-top: 2rem;
}
.offer_btn {
  margin-top: 3rem;
}

.company_page {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.company_page_jobs {
  margin-top: 2rem;
}

.offer_compOverview {
  width: 60%;
}

.bgImgRegister,
.bgImgLogin {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width: 50vw;
  height: 100vh;
}
.bgImgRegister {
  background-image: url("./images/registration.png");
}
.bgImgLogin {
  background-image: url("./images/login.png");
}

.account_page_content {
  background-color: var(--secendary);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.account_page_boxRad {
  margin-top: 3rem;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--secendary);
}
