@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 10%;
  height: 100%;
  font-size: 62.5%;
}
html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

.mainHome {
  height: 100%;
  width: 100%;
  margin-top: 8rem;
}

.bgImgHome {
  background-image: url("./images/homeImgV2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  width: 80vw;
  height: 100vh;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
