.btn {
  background-color: #8667f2;
  color: white;
  width: fit-content;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  padding: 0.5rem;
}
.btn:hover {
  transition: 0.25s;
  background-color: #fcd265;
  color: black;
}
