.section {
  width: 100%;
  font-size: 1rem;
  padding-right: 2rem;
}

.content {
  font-size: 1rem;
  line-break: inherit;
  width: 100%;
}

.section h1 {
  text-decoration: underline;
  margin-bottom: 2rem;
}
