.jobDetails {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border: 4px solid var(--action);
}

.property {
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
}

.title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
}

.name {
  color: grey;
}

.value {
}

.btn {
  width: 75%;
}
.action {
  width: 100%;
  display: flex;
  justify-content: center;
}
